<?xml version="1.0" ?>
<robot name="scene" xmlns:xacro="http://ros.org/wiki/xacro">


  <!-- ############################## -->
  <!--    Robot #1 Configuration      -->
  <!-- ############################## -->

    <!-- Parameters -->
    <xacro:arg name="robot1_prefix"     default="ROBOT_A"/>
    <xacro:arg name="robot1_type"       default="gp400"/>

    <!-- Robot Configuration -->
    <!-- The ABB-Robot-URDF xacro must be included with passing parameters -->
    <xacro:include filename="$(find robot_support)/urdf/robots/irb6660/irb6660_srdf.xacro"/>
    <!-- The xacro must be included with passing parameters -->
    <!-- "prefix" describes the naming of the robot -->
    <xacro:robot_irb6660 robot_prefix = "$(arg robot1_prefix)"/>

  <!-- ############################## -->
  <!--    Robot #2 Configuration      -->
  <!-- ############################## -->
    <!-- Parameters -->
    <xacro:arg name="robot2_prefix"     default="ROBOT_B"/>
    <xacro:arg name="robot2_type"       default="gp400"/>

    <!-- The Yaskawa-Robot-SRDF xacro must be included with passing parameters -->
    <xacro:include filename="$(find robot_support)/urdf/robots/gp400/gp400_srdf.xacro"/>
    <!-- The xacro must be included with passing parameters -->
    <!-- "robot_prefix" describes the naming of the robot -->
    <xacro:robot_gp400 robot_prefix = "$(arg robot2_prefix)"/>


</robot>