<?xml version="1.0"?>
<launch>
    
    <!-- General Settings -->

        <!-- Robot Settings -->
            <!-- Robot #1 -->
            <arg name="robot1_namespace"         default="robot1"/>
            <arg name="robot1_type"              default="irb6660" />
            <arg name="robot1_eoat"              default="true" />
            <arg name="robot1_support_path"      default="abb_irb6660_support" />
            <arg name="robot1_parallel_linkage"  default="true"/>

            <!-- Robot #2 -->
            <arg name="robot2_namespace"         default="robot2"/>
            <arg name="robot2_type"              default="gp400" />
            <arg name="robot2_eoat"              default="false" />
            <arg name="robot2_support_path"      default="motoman_gp400_support" />
            <arg name="robot2_parallel_linkage"  default="true"/>

        <!-- Global Parameters -->
        <arg name="robot_description"   value="robot_description"/> <!-- The parameter-name under which the URDF is loaded -->
        <arg name="multi_robot"         value="true"/>              <!-- Enables spawning of multiple robots -->
        
        <!-- RVIZ Config -->
        <arg name="joint_gui"       default="true" />   
        <arg name="rviz_config"     default="$(find robot_spawn)/config/demo_rviz_settings.rviz" />
    
    <!-- ############################## -->
    <!--        Robot - IRB6660         -->
    <!-- ############################## -->

        <!-- Planning Context -->
        <!-- (Loading of URDF, SRDF, and Robot Prefix Parameters) -->
        <include file="$(find robot_support)/launch/planning_context.launch" >
            <!-- General -->
            <arg name="robot_description"   value="$(arg robot_description)" />
            <arg name="multi_robot"         value="$(arg multi_robot)" />
            <!-- Robot #1 -->
            <arg name="robot1_prefix"       value="$(arg robot1_namespace)" />
            <arg name="robot1_type"         value="$(arg robot1_type)" />
            <arg name="robot1_eoat"         value="$(arg robot1_eoat)" />
            <arg name="robot1_support_path" value="$(arg robot1_support_path)" />
            <!-- Robot #2 -->
            <arg name="robot2_prefix"       value="$(arg robot2_namespace)" />
            <arg name="robot2_type"         value="$(arg robot2_type)" />
            <arg name="robot2_eoat"         value="$(arg robot2_eoat)" />
            <arg name="robot2_support_path" value="$(arg robot2_support_path)" />
            
        </include>

    <!-- ############################## -->
    <!--        Move-It & RVIZ          -->
    <!-- ############################## -->

        <!-- Publish Joint-States -->
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(arg joint_gui)">
            <!-- <rosparam param="source_list" > [robot1/controller_joint_states] </rosparam> -->
        </node>

        <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg joint_gui)">
            <!-- <rosparam param="source_list" > [robot1/controller_joint_states] </rosparam> -->
        </node>

        <!-- Publish Joint-States -->
        <!-- <node name="joint_state_pub" pkg="robotics_support" type="joint_state_publisher_node"/> -->

        <!-- Publish the Robot State (TF transforms) -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

        <!-- Rviz -->
        <include file="$(find robotics_support)/launch/moveit_rviz.launch">
            <arg name="rviz_config"     value="-d $(arg rviz_config)" />
        </include>

</launch>