<?xml version="1.0" ?>
<robot name="scene" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Xacro Parameters -->
    <xacro:arg name="global_ref_frame"  default="world"/>
    <xacro:arg name="robot_prefix"      default=""/>
    <xacro:arg name="robot_type"        default="gp400"/>
    <xacro:arg name="robot_eoat"        default="false"/>

    <!-- Robot Properties -->
    <xacro:property name="robot_eoat" value="$(arg robot_eoat)"/>

    <!-- ############################## -->
    <!--    Robot Configuration         -->
    <!-- ############################## -->
    <xacro:include filename="$(find robot_support)/urdf/robot_urdf.xacro"/>
    <!-- The xacro must be included with passing parameters -->
    <!-- "robot_prefix" describes the naming of the robot -->
    <!-- "robot_type"   describes the type/model of robot -->
    <!-- "robot_eoat"   describes if a EOAT is installed -->
    <!-- "robot_file"   file name of EOAT within robot_support/urdf/eoat/... -->
    <!-- "ref_link"     describes the reference-link of which the object (robot-base) is connected to -->
    <!-- "ref_xyz"      position [m] of the object (robot-base) relative to the reference-link -->
    <!-- "ref_rpy"      orientation [rad] of the object (robot-base) relative to the reference-link -->
    <xacro:robot robot_prefix       = "$(arg robot_prefix)" 
                 robot_type         = "$(arg robot_type)" 
                 ref_link           = "$(arg global_ref_frame)" 
                 ref_xyz            = "0.000 0.000 0.000" 
                 ref_rpy            = "${radians(0.00)} ${radians(0.00)} ${radians(0.00)}" />

    
    <!-- ############################## -->
    <!--    Robot End-Effector (EOAT)   -->
    <!-- ############################## -->
    <xacro:if value="${robot_eoat}">
        <!-- End-Effector - Brush -->
        <xacro:include filename="$(find robot_support)/urdf/eoat/brush/eoat_brush_macro.xacro"/>
        <!-- The xacro must be included with passing parameters -->
        <!-- "ref_link"     describes the reference-link of which the object (eoat) is connected to -->
        <!-- "ref_xyz"      position [m] of the object (robot-base) relative to the reference-link -->
        <!-- "ref_rpy"      orientation [rad] of the object (robot-base) relative to the reference-link -->
        <xacro:eoat_brush prefix    = "$(arg robot_prefix)eoat" 
                          ref_link  = "$(arg robot_prefix)eoat_mount" 
                          ref_xyz   = "0.000 0.000 0.000" 
                          ref_rpy   = "${radians(0.00)} ${radians(0.00)} ${radians(0.00)}"/>
    </xacro:if>
    <!-- No EOAT, add default TCP -->
    <xacro:unless value="${robot_eoat}">
        <!-- Robot Tool-Center-Point -->
        <link name="$(arg robot_prefix)tcp"/>
        <joint name="$(arg robot_prefix)tcp_joint" type="fixed">
            <parent link="$(arg robot_prefix)tool0"/>
            <child link="$(arg robot_prefix)tcp"/>
            <origin xyz="0.000 0.000 0.000" rpy="0.0 0.0 0.0"/>
        </joint>
    </xacro:unless>

    
    <!-- ############################## -->
    <!--    Environment Configuration   -->
    <!-- ############################## -->
         <!-- Generate world-link-->
        <link name="$(arg global_ref_frame)"/>

        <!-- Environment URDF -->
        <!-- <xacro:include filename="$(find robot_support)/urdf/environment_urdf.xacro"/> -->
        
</robot>